#clock{
    position: relative;
    margin: auto;
    height: 50vw;
    width: 50vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}
#hour,#min,#sec{
position: absolute;
background: black;
border-radius: 10px;
}
#hour{
    width: 1%;
    height: 17%;
    top: 32.5%;
    left: 49.45%;
    opacity: 0.8;
    transform-origin: bottom;
}

#min{
    width: 0.7%;
    height: 23.5%;
    top: 26.5%;
    left: 49.55%;
    opacity: 0.8;
    transform-origin: bottom;
}


#sec{
    width: 0.5%;
    height: 29%;
    top: 20.5%;
    left: 49.6%;
    opacity: 0.8;
    transform-origin: bottom;
}